[run]
data_file = .tox/.coverage
parallel = True
include =
    */vault_ssh_renew/*
omit =
    */vault_ssh_renew/tests/*

[paths]
source =
    ./vault_ssh_renew
    .tox/*/lib/*/site-packages/vault_ssh_renew

[xml]
output = .tox/coverage.xml