#!/bin/sh

CONFIGFILE=/etc/default/vault-ssh-renew
. /usr/share/debconf/confmodule

set -e

if [ -e $CONFIGFILE ]; then
    . $CONFIGFILE || true

    db_set vault-ssh-renew/addr "$VAULT_ADDR"
    db_set vault-ssh-renew/token "$VAULT_TOKEN"
    db_set vault-ssh-renew/sign-path "$VAULT_SSH_SIGN_PATH"
fi

db_input high vault-ssh-renew/addr || true
db_input high vault-ssh-renew/sign-path || true
db_input high vault-ssh-renew/token || true
db_go || true